html, body {
  margin: 0px;
  padding: 0px;
}

header {
  position: relative;
}

img {
  width: 99vw;
  height: 80vh;
  
}

#title {
  position: absolute;
  left: 30%;
  top: 40%;
  font-size: 100px;
  color: white;
}

li {
  padding: 0 30px;
  list-style: none;
  text-align: justify;
  width: 30%;
}

ul {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
